html, body{
	height: 100%;
	margin: 0;
	cursor:crosshair;
}	

.horizontal-scroll{
	display: flex;
	float: left;
	width: 200%;
}

.header{
	/*background-image: url('/Users/vienita/Desktop/To-Do-ListProject/Images/pic7.webp');*/
	background-color: #F7F7F7;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float:left;
	margin:0px;
	margin-right: 5px;
	width:100%;
	height: 820px;
	z-index: 1;

}
.headerText{
	position: relative;
	font-size: 150px;
	text-align: center;
	padding: 0px;
	top: 160px;
	font-family: 'Nothing You Could Do';
	color: #152133;
}
.fa-chevron-right{
	font-size: 60px;
	position: absolute;
	top: 355px;
	float: right;
	right: 25px;
}
.fa-chevron-left{
	font-size: 60px;
	position: absolute;
	float: left;
	top: 355px;
	left: 25px;
}

a:link, a:visited{
	color: 	#152133;
}
a:hover{
  
}

.listSection{
	position: relative;
	margin-left:0;
	float: left;
	width:100%;
	height: 820px;
	background-color: #eceefb;/* #daeada;#ece6f2;/*#c5e6c6;/* *//*#c5e6c6;*/ /**/
}

.weeks{
	justify-content: center;
	background-color: transparent;
	position: relative;
	padding:0;
	margin:0;
	width: 100%;
	height: 250px;
	top:10px;
	margin-bottom: 20px;

}

table,th,td, tr{
	border: 1.5px solid #000;
	border-collapse: collapse;
	top: 5px;
	font-family: 'Nothing You Could Do';
	table-layout: fixed;
}
th{
 background-color: white;
 box-shadow: 2px 2px 4px black;
}
#dailyInput{
	resize: none;
	background-color: transparent;
	position: relative;
	width:100%;
	height: 140px;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	font-family: Monaco;
	font-size: 15px;
}
.listPart{
	background-color: transparent;
	position: relative;
	float: left;
	left:60px;
	width: 47%;
	height: 66%
}
.listText{
	font-family: 'Nothing You Could Do';
	text-transform: uppercase;
	text-align: center;
	top: 30px;
}

ul li {
	list-style: none;
}
.listinputs{
	position: absolute;
	left: 50px;
	top:30px;
}
.checkbox{
	float: left;
}
.todoinput{
	float: left;
}
#todoline {
  width: 380px;
  background-color: transparent;
  padding: 8px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: Monaco;
  font-size: 19px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark1 {
  position: absolute;
  top: 35px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark2 {
  position: absolute;
  top: 95px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark3 {
  position: absolute;
  top: 160px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark4 {
  position: absolute;
  top: 220px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark5 {
  position: absolute;
  top: 280px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark6 {
  position: absolute;
  top: 340px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark7 {
  position: absolute;
  top: 400px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}
.checkmark8 {
  position: absolute;
  top: 460px;
  left: 20px;
  height: 25px;
  width: 25px;
  line-height: 40px;
  background-color: white;
  box-shadow: 3px 3px black;
}

.container:hover input ~ .checkmark1 {
  background-color: #ddd;
}
.container input:checked ~ .checkmark1 {
  background-color: #a3aacc;
}

.container:hover input ~ .checkmark2 {
  background-color: #ddd;
}

.container input:checked ~ .checkmark2 {
  background-color: #a3aacc;
}
.container:hover input ~ .checkmark3 {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark3 {
  background-color: #a3aacc;
}

.container:hover input ~ .checkmark4 {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark4 {
  background-color: #a3aacc;
}
.container:hover input ~ .checkmark5 {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark5 {
  background-color: #a3aacc;
}
.container:hover input ~ .checkmark6 {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark6 {
  background-color: #a3aacc;
}
.container:hover input ~ .checkmark7 {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark7 {
  background-color: #a3aacc;
}
.container:hover input ~ .checkmark8 {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark8 {
  background-color: #a3aacc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark3:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark4:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark5:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark6:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark7:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark8:after {
  content: "";
  position: absolute;
  display: none;
}


/* Show the checkmark when checked */
.container input:checked ~ .checkmark1:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark1:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark2:after {
  display: block;
}

.container .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark3:after {
  display: block;
}

.container .checkmark3:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark4:after {
  display: block;
}

.container .checkmark4:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark5:after {
  display: block;
}

.container .checkmark5:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark6:after {
  display: block;
}

.container .checkmark6:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark7:after {
  display: block;
}

.container .checkmark7:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark8:after {
  display: block;
}

.container .checkmark8:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.goalsPart{
	position: relative;
	float: left;
	background-color: transparent;
	width: 40%;
	height: 66%;
	margin: 0;
}
.goalText{
	text-align: center;
	font-family: 'Nothing You Could Do';
	position: relative;
	font-size: 30px;
	top: -10px;
	left: 80px;
}
.notes{
	resize: none;
	outline: none;
	border: none;
	position: relative;
	float: left;
	justify-content: center;
	background-color: transparent;
	top:-70px;
	width: 25em;
	height: 6em;
	left: 90px;
	font-size: 20px;
	border: 1px solid black;
	box-shadow: 1px 1px black;
}
.noteText{
	font-family: 'Nothing You Could Do';
	text-align: center;
	font-size: 30px;
	position: relative;
	top: -50px;
	left:80px;
}
.goalLineSec{
  position: relative;
  left: 100px;
  top:-35px;
}
#goalLines{
  width: 500px;
  background-color: transparent;
  padding: 3px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: Monaco;
  font-size: 19px;
}
 ::placeholder {
  color: black;
}


@media screen and (max-width: 1290px) {
	
	.horizontal-scroll{
		position: relative;
		display: inline-block;
		float: left;
		height: 200%;
		width: 100%;
	}
	.header{
		background-image: url('/Users/vienita/Desktop/To-Do-ListProject/Images/pic7.webp');
		background-color: #F7F7F7;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		float:left;
		margin:0px;
		margin-right: 5px;
		width:100%;
		height: 820px;
		z-index: 1;
	}
		.headerText{
		position: relative;
		font-size: 150px;
		text-align: center;
		padding: 0px;
		top: 160px;
		font-family: 'Nothing You Could Do';
		color: #fff;
	}
		
	.listSection{
		position: relative;
		margin-left:0;
		float: left;
		width:100%;
		height: 820px;
		background-color: #daeada;/*#ece6f2;/*#c5e6c6;/**//**/ /*#eceefb;*/
	}

}
@media screen and (max-width: 1135px){
	.listPart{
		background-color: transparent;
		position: relative;
		float: left;
		left: 130px;
		width: 85%;
		height: 66%
	}
	.listSection{
	position: relative;
	margin-left:0;
	float: left;
	width:100%;
	height: 820px;
	background-color: #eceefb;/* #daeada;#ece6f2;/*#c5e6c6;/* *//*#c5e6c6;*/ /**/
}
	.goalsPart{
		position: relative;
		float: left;
		left: -100px;
		background-color: transparent;
		width: 50%;
		height: 66%;
		margin: 0;
	}
	#goalLines{
	  width: 500px;
	  background-color: transparent;
	  padding: 3px 3px;
	  margin: 8px 0;
	  box-sizing: border-box;
	  border: none;
	  border-bottom: 1px solid black;
	  outline: none;
	  font-family: Monaco;
	  font-size: 19px;
	  position: relative;
	  left:170px;
	}
	.notes{
	resize: none;
	outline: none;
	border: none;
	position: relative;
	float: left;
	justify-content: center;
	background-color: transparent;
	top:-70px;
	width: 25em;
	height: 6em;
	left: 270px;
	font-size: 20px;
	border: 1px solid black;
	box-shadow: 1px 1px black;
	}
}